.favorites-container {
  display: flex;
  flex-wrap: wrap;
  height: 45rem;
  justify-content: center;
}
.favorites-container p {
  text-align: center;
  font-size: 2rem;
}
.favorite-products-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  line-height: 1.7rem;
}
