.outter-container {
    display: flex;
    margin: 8rem;
  }
  
  .inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .inner-container.reverse {
    flex-direction: row-reverse;
  }
  
  .inner-container img {
    flex: 1;
    width: 50%;
    max-width: 50%;
    box-sizing: border-box;
    height: auto;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding-left: 3rem;
    color: white;
  }
  
  .inner-container.reverse .text-container {
    padding-left: 3rem;
  }
  
  .text-container h2 {
    font-size: 4.1rem;
  }

  .text-container button {
    position: relative;
    width: 30rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    text-align: center;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1rem;
    overflow: hidden;
    transition: color 0.3s ease;
    margin: 1.9rem 0;
  }
  
  .text-container button:hover{
   color: white;
   opacity: .5;
  }
  
