header {
  display: flex;
  align-items: center;
  height: 5rem;
  position: relative;
  z-index: 10;
  min-width: 100%;
}
header .container {
  min-width: 100%;
  display: flex;
  align-items: center;
}
header .container  h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  cursor: pointer;
  font-size: 2.4rem;
}
header > .container > h1 > a {
  text-decoration: none;
  color: #000;
  font-weight: 800;
}
header > .container > nav {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

header .container ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  padding-bottom: 5px; 
}

nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
  width: 100%;
}

nav ul li a:active::after {
  width: 100%;
  background-color: rgb(0, 143, 143); 
}

/* MOBILE */
.mobileContainer {
  display: none;
}

.underline {
  height: 5rem;
  border-bottom: 0.01rem solid black;
}
.search-and-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: transparent;
}
.search-button {
  background-color: transparent;
  border: none;
}
.search-and-signup img {
  background-color: transparent;
  width: 1.65rem;
  cursor: pointer;
}
.signup-button {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #000;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
}
a .signup-button {
  text-decoration: none;
  color: white;
}
.signup-button:hover {
  background-color: rgb(0, 143, 143);
}
.signup-button:hover a {
  color: white;
}


@media only screen and (min-width: 300px) and (max-width: 860px) {
  header {
    height: 3.5rem;
  }
  header .container h1 {
    font-size: 1.6rem;
  }
  header .container .mobileContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    min-width: 100%;
  }
  .mobileContainer img {
    width: 1.6rem;
  }
  nav {
    display: none;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    display: none;
  }
  .search-and-signup {
    display: none;
  }
}