nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 2rem;
  position: relative;
  z-index: 10;
}
.underline {
  border-bottom: .1rem solid rgb(175, 175, 175);
}
.nav-links {
  display: flex;
  flex: 1;
  gap: 1rem;
}
.nav-links a {
  text-decoration: none;
  color: black;
}
.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: .5rem;
}
nav h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  cursor: pointer;
  font-size: 2.4rem;
}
nav h2 a {
  text-decoration: none;
  color: black;
}
.search-and-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.search-and-signup img {
  width: 1.5rem;
  cursor: pointer;
}
.signup-button {
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #000;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
}
a .signup-button {
  text-decoration: none;
  color: white;
}
.signup-button:hover {
  background-color: rgb(0, 143, 143);
}
.signup-button:hover a {
  color: white;
}