.payments {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.payments h3 {
  margin: 1rem 0;
  color: white;
}
.payments .payment-icons {
  display: flex;
  gap: 1rem;
}
.payments .payment-icons img {
  width: 3rem;
  box-shadow: 0.2rem 0.2rem 0.1rem;
}

@media only screen and (min-width: 390px) and (max-width: 393px) and (orientation: portrait) {
  .payments .payment-icons img {
    width: 2.2rem;
  }
}
