.payments {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.payments h3 {
    margin: 1rem 0;
    color: white;
}
.payments .payment-icons  {
    display: flex;
    gap: 1rem;
}
.payments .payment-icons img {
    width: 3rem;
    box-shadow: .2rem .3rem .2rem;
    color: goldenrod;
}

@media only screen and (min-width: 390px) and (max-width: 393px) and (orientation: portrait) {

    .payments .payment-icons img {
        width: 2.2rem;
        box-shadow: .1rem .1rem .1rem;
    }

}