/* .product-container {
  display: flex;
  gap: 0.4rem;
  padding: 3rem 0 3rem 1.5rem;
  overflow-x: scroll;
  line-height: 1.6;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.project-container::-webkit-scrollbar {
  display: none;
}
.product-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  position: relative;
  width: 16rem;
}

.product-card img {
  border: 0.1rem solid rgb(245, 245, 245);
  width: 16rem;
  border-radius: 1.1rem;
  margin-bottom: 0.3rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.product-card img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.product-card img:last-child {
  opacity: 0;
}

.product-card:hover img:last-child {
  opacity: 1;
}

.product-card:hover img:first-child {
  opacity: 0;
}
.product-card img[alt="empty star"],
.product-card img[alt="filled yellow star"] {
  width: 1.8rem;
  top: 1rem;
  right: 1rem;
  position: absolute;
  border: none;
  z-index: 9;
}
.product-card .product-info {
  position: absolute;
  padding: 0.4rem;
  border-radius: 0.3rem;
  top: 1rem;
  left: 1rem;
  background-color: #fff;
  color: #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  border: 0.01rem solid lightgray;
}
.product-card a {
  text-decoration: none;
  color: #000;
}

@media only screen and (min-width: 446px) and (max-width: 850px) and (orientation: portrait) {
  .product-card {
    width: 14rem;
  }
  .product-card img {
    width: 14rem;
  }
  .product-card img[alt="empty star"],
  .product-card img[alt="filled yellow star"] {
    width: 1.5rem;
  }
  .product-card .product-info {
    padding: 0.3rem;
  }
}

@media only screen and (min-width: 300px) and (max-width: 445px) and (orientation: portrait) {
  .product-container {
    gap: 0.4rem;
    padding: 1.5rem 0 2rem 1.5rem;
  }
  .product-card img {
    width: 13rem;
  }
  .product-card img[alt="empty star"],
  .product-card img[alt="filled yellow star"] {
    width: 1.5rem;
  }
  .product-card .product-info {
    padding: 0.3rem;
  }
} */
