.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: black;
}

.scrolling-text {
  font-size: 3rem;
  font-weight: 800;
   white-space: nowrap;
  color: white;
  padding-left: 3rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 660px) {

  .scrolling-text-container {
    height: 5rem;
    padding-left: 1rem; 
  }
  

  .scrolling-text, h3.scrolling-text {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 445px) {
  .scrolling-text-container {    height: 5rem;
    padding-left: 1rem; 
  }
  
  .scrolling-text, h3.scrolling-text {
    font-size: 2.8rem;
    padding-left: 1.6rem;
  }
}
