.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.039);
  z-index: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
  transition: ease 800ms;
}

.image-text {
  position: absolute;
  color: white;
  bottom: 0;
  padding-bottom: 2rem;
  padding-left: 3rem;
  z-index: 2;
  text-align: left;
  max-width: 51rem;
}

.image-text h2 {
  font-size: 5rem;
  font-weight: 600;
}

.image-text p {
  font-size: 2rem;
}

.slider {
  position: relative;
}

.slider button {
  width: 1.85rem;
  height: 1.85rem;
  position: absolute;
  bottom: 1%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider:hover button {
  opacity: 1;
}

.prevButton {
  right: 55px;
}
.prevButton img {
  object-fit: cover;
  width: 1.6rem;
}
.nextButton {
  right: 20px;
}
.nextButton img {
  object-fit: contain;
  width: 1.6rem;
}
.slider .prevButton:hover,
.slider .nextButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 446px) and (max-width: 1055px) and (orientation: portrait) {
  .image-text h2 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 360px) and (max-width: 445px) and (orientation: portrait) {
  .image-text h2 {
    font-size: 2.8rem;
  }
  .image-text p {
    font-size: 1.2rem;
  }
}
