.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 36rem;
  position: relative;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.039); 
  z-index: 1; 
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0; 
  transition: ease 800ms;
}

.image-text {
  position: absolute;
  bottom: .5rem;
  left: .5rem;
  color: white;
  padding: 2rem;
  z-index: 2;
  text-align: left;
  max-width: 50rem;
}

.image-text h2 {
  font-size: 5rem;
  font-weight: 600;
}

.image-text p {
  font-size: 2rem;
}

.slider {
  position: relative;
}

.slider button {
  width: 1.85rem; 
  height: 1.85rem; 
  position: absolute;
  bottom: 1%; 
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
}

.slider:hover button {
  opacity: 1;
}

.prevButton {
  right: 55px; /* Abstand von der rechten Seite */
}

.nextButton {
  right: 20px; /* Abstand von der rechten Seite */
}

.slider .prevButton:hover,
.slider .nextButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}