.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4rem;
  text-align: center;
  padding: 5rem;
  border-radius: 1rem;
}
.image-text h2 {
  font-size: 4.5rem;

}
.image-text p {
  font-size: 1.8rem;
}

/* Buttons initial ausblenden */
.slider button {
  background-color: #ffffff;
  border: none;
  color: rgb(77, 77, 77);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease; /* Sanfter Übergang */
}

/* Buttons beim Hover über den Slider anzeigen */
.slider:hover button {
  opacity: 1;
}

.prevButton {
  left: 5rem;
}

.nextButton {
  right: 5rem;
}
