@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image-container {
   background-color: rgba(0, 0, 0, 0.039);
}


/* Global */
* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.payment-border {
    box-shadow: 0.2rem 0.2rem 0.1rem;

}

.text-shadow {
  text-shadow: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.3); 
}

.no-scroll {
  overflow: hidden; 
}

.scroll-text {
    animation: scroll-left 3s linear 1;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) { 

  .all {
    font-size: 4rem;
  }

}

@media only screen and (min-width: 390px) and (max-width: 393px) and (orientation: portrait) {
  .Toastify__toast {
    font-size: 1.1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Toastify__close-button.Toastify__close-button--light {
    width: 3rem;
    height: 3rem;
    background-color: #3498db;
  }
  .Toastify__close-button > svg {
    width: 5rem;
    height: 6rem;
  }
}


